.project {
  margin-top: 2rem;
  overflow: hidden;

  position: relative;
}
.flex {
  display: flex;
}
.project h2 {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
.maindiv {
  background-color: rgba(27, 1, 1, 0.473);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem 0rem;
}
@media screen and (max-width: 655px) {
  .project {
    padding: 0px 20px;
  }
  .typediv {
    width: calc(100% - 3rem);
  }
  .robo {
    display: none;
  }
  .containe {
    width: 100%;
  }
}

@media screen and (min-width: 655px) and (max-width: 810px) {
  .project {
    padding: 0px 20px;
  }
  .typediv {
    width: calc(100% - 3rem);
  }
  .robo {
    display: flex;
  }
  .containe {
    width: 70%;
  }
}

@media screen and (min-width: 810px) and (max-width: 973px) {
  .project {
    padding: 0px 20px;
  }
  .typediv {
    width: calc(50% - 1rem); /* Adjust the margin as needed */
  }
  .robo {
    display: flex;
  }
  .containe {
    width: 70%;
  }
}

@media screen and (min-width: 973px) {
  .project {
    padding: 0 30px;
  }
  .typediv {
    width: calc(50% - 1rem); /* Adjust the margin as needed */
  }
  .robo {
    display: flex;
  }
  .containe {
    width: 70%;
  }
}
.typediv {
  border: 1px solid salmon;
  padding: 1rem;
  height: auto;
  margin-bottom: 1.5rem;
}
.typediv h4 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid salmon;
}
.skilldiv {
  color: rgb(12, 0, 14);
  background-color: rgba(0, 255, 255, 0.123);
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 4px;
  box-shadow: 0 0 2px white;
  box-sizing: border-box;
}
.fill {
  z-index: -1;
  border-radius: 1rem;
  height: 100%;
  background-color: rgb(78, 252, 252);
  position: absolute;
  transition: 1s;
}
.robo {
  position: relative;
  align-items: center;
  width: 30%;
  height: auto;
}
.left {
  position: relative;
  width: 70%;
  height: 100%;
}
.right {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: rgba(27, 1, 1, 0.473);
}

.robo img {
  position: absolute;
}
